.LoadingTodo-container {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  margin: auto 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
}

.LoadingTodo-text {
  right: 0;
  width: calc(100% - auto);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}


.LoadingTodo-deleteIcon {
  position: relative;
  border-radius: 50px;
  margin: 20px 0;
  width: 8px;
  height: 8px;
}



.LoadingTodo-deleteIcon {
  right: 0;
  background: linear-gradient(90deg, rgb(255, 255, 255), rgb(0, 0, 0));
  background-size: 400% 400%;
  animation: loadingAnimation 3s ease-in-out;
}

@keyframes loadingAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}