body {
  margin: 0;
  padding: 0;
  background: hwb(0 100% 0%);
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}